body {
    font-family: Arial, sans-serif;
    background-color: #f3d9d9;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffb1b1;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.meme-container {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="file"] {
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
}

button {
    background-color: #88e4cd;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #8df192;
}

canvas {
    display: none;
    max-width: 100%;
    border-radius: 8px;
}